/* Container that holds the entire form */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    width:40%;
    padding: 20px;
}

/* The form container */
.auth-form {
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100% ;
    opacity: 0;
    animation: fadeIn 0.8s forwards;
    text-align: center;
}

/* Animation for the form fade-in effects */
.fade-in-bottom {
    animation: fadeInBottom 0.8s forwards;
}

.fade-in-top {
    animation: fadeInTop 0.8s forwards;
}

/* Title style */
.form-title {
    font-size: 2rem;
    font-weight: 700;
    color: #2A4178;
    margin-bottom: 20px;
    text-transform: capitalize;
}

/* Styling for the form fields */
.form-group {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.form-group label {
    font-size: 0.9rem;
    color: #2c2c2c;
    margin-bottom: 5px;
    display: block;
    
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #555;
    outline: none;
    transition: border 0.3s ease-in-out;
}

.form-group input:focus {
    border: 1px solid #2A4178;
}

/* Button style */
.submit-btn {
    width: 30%;
    padding: 12px;
    background-color: #2A4178;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #425fa3;
}

/* Link to switch between login and signup */
.toggle-btn {
    background: none;
    border: none;
    color: #2A4178;
    font-size: 1rem;
    cursor: pointer;
    margin: 20px 0;
    transition: color 0.3s ease;
}

.toggle-btn:hover {
    color: #5a66cc;
}
.error-text {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 5px;
}

/* Animation definitions */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}